.regButton {
  padding: 0.5rem 2rem;
  background: var(--main-bg);
  border: 1px solid var(--panel-border);
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}

.btnGroup {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}